* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://img.freepik.com/free-photo/royal-blue-colour-flower-pattern-background-abstract-banner-multipurpose-design_1340-17115.jpg?w=1800&t=st=1687465276~exp=1687465876~hmac=0ef84899e47dbb22f03fa70deb7e8646c39248d661de3011f359bcb23067b23d);
}

nav a:link {
  margin-right: 30px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

.main-header {
  padding: 20px 40px;
  color: white;
}
a:link {
  color: #f5f5f5;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__search {
  position: relative;
  margin-left: 10px;
  color: white;
}

.search-box {
  width: 200px;
  padding: 5px 10px;
  border: 2px solid rgb(34, 224, 44);
  border-radius: 10px;
  text-align: right;
  background-color: rgb(5, 40, 94);
  color: white;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
